/**
 * Table View
 * line height = 6rem, border included
 */

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

ul li {
  position: relative;
  color: #000;
  -moz-box-sizing: border-box;
  min-height: 5rem;
}

ul li.active,
ul li a:active {
  background-color: #b2f2ff;
  color: #222;
}

ul li > a,
ul li > span {
  display: block;
  text-decoration: none;
  outline: 0;
  color: #000;
  -moz-box-sizing: border-box;
  height: 5rem;
  font-size: 1.7rem;
  line-height: 6rem;
  padding: 0 3rem;
}

ul li.disabled > a {
  color: gray;
  pointer-events: none;
}

/* description + value on the same line */
ul li > a span {
  position: absolute;
  right: 3rem;
  color: #505859;
}

/* text ellipsis */
ul li > * {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* sublines */
ul li > small {
  position: absolute;
  left: 3rem;
  right: 3rem;
  top: 50%;
  padding-top: 0.4rem;
  font-size: 1.4rem;
  color: #505859;
  /* click/tap events should be caught by the <a> element below the <small> */
  pointer-events: none;
}

ul li > label:not([for]) + small {
  right: 6rem;
}

/* required for empty elements like Bluetooth */
ul li > small:not(:empty) + a {
  line-height: 4.4rem;
}


/******************************************************************************
 * Boolean inputs
 */

ul li button,
ul li a[role="button"] {
  position: relative;
  top: 1.1rem;
  left: 3rem;
  width: calc(100% - 6rem);
}

/* custom styles for boolean inputs (see /shared/style/switches.css) */
ul li label {
  text-transform: none;
}

ul li > label:not([for]) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul li > label:not([for]) > span,
ul li > label:not([for]) > input[data-type="switch"] + span {
  left: auto;
  right: 3rem;
}

ul li > label:not([for]) ~ a {
  padding-right: 6rem;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*input number*/
section li.inputNumber {
  display: block; /*asf*/
  height: 8rem;
  vertical-align:middle;
  padding-right: 0;
}

section li.inputNumber > label {
  position: absolute;
  top: 8.3rem;
  left: 0;
  right: 1.5rem;
  height: 3rem;
  z-index: 1;
}

section li.inputNumber > label > span:after {
  left: 0;
  right: auto;
  margin-left: 0;
}

section li.inputNumber > label > span {
  position: absolute;
  left: 1.5rem;
  padding-left: 3rem;
  height: 3rem;
  color: #848484;
  font-size: 1.7rem;
  line-height: 3rem;
}

section li.inputNumber > label:active > span {
  background-color: transparent;
  color: #848484;
}

section li.inputNumber > p {
  padding: 0.5rem 1.5rem 0;
  line-height: 3.3rem;
}

/*****************************************************************************/
ul li p + input[type="text"],
ul li p + input[type="number"],
ul li p + input[type="tel"],
ul li p + input[type="password"],
.ipInput
{
  width: 90%;
  height: 3rem;
  line-height: 3rem;
  /*margin-bottom: 1.5rem;*/
  border: 0.3rem solid #000000;
  font-size: 1.8rem;
  /*padding: 0.5rem 0px;*/
}



/******************************************************************************
 * Field inputs
 */

ul li p {
  font-size: 1.9rem;
  font-weight: 400;
  margin: 0rem 0rem 0rem 0.3rem;
  /*padding: 1rem 3rem;*/

}

ul li p + label:not([for]) {
  top: 2.5rem;
  height: calc(100% - 2.5rem);
}

ul li p + input[type="text"],
ul li p + input[type="tel"],
ul li p + input[type="password"] {
  width: calc(100% - 6rem);
  margin: -1rem auto 1rem;
}


/******************************************************************************
 * Range inputs
 */

ul li > label input[type="range"] {
  width: 80%;
  width: calc(100% - 6rem);
  margin-left: 3rem;
  margin-top: 2rem;
}

/**
 * Polyfill until input[type=range] is natively supported by Gecko:
 * https://bugzilla.mozilla.org/show_bug.cgi?id=344618
 *
 * The JS polyfill transforms this:
 *
 *   <label>
 *     <input type="range" value="60" />
 *   </label>
 *
 * into this:
 *
 *   <label class="bug344618_polyfill">
 *     <div>
 *       <span style="width: 60%"></span>
 *       <span style="left: 60%"></span>
 *     </div>
 *     <input type="range" />
 *   </label>
 */

ul li > label.bug344618_polyfill input {
  display: none;
}

/* slider */

ul li > label.bug344618_polyfill div:before {
  content: "";
  position: absolute;
  top: calc(50% - 0.1rem);
  left: 0;
  right: 0;
  height: 0.1rem;
  border-top: 0.1rem solid #7e7e7e;
}

ul li > label.bug344618_polyfill div {
  position: relative;
  top: calc(50% - 1.5rem);
  left: 7.5rem;
  right: 7.5rem;
  height: 3rem;
  width: calc(100% - 15rem);
}

/* fill */

ul li > label.bug344618_polyfill div span:first-child {
  position: absolute;
  display: block;
  top: calc(50% - 0.15rem);
  width: 4rem;
  height: 0.3rem;
  background-color: #01c5ed;
}

/* throbber */

ul li > label.bug344618_polyfill div span:last-child {
  position: absolute;
  top: 50%;
  margin: -1.5rem 0 0 -1.5rem;
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  border: solid 0.1rem transparent;
  border-radius: 3rem;
  transition: border 0.15s ease;
  -moz-box-sizing: border-box;
  background: url(images/range_thumb.png) no-repeat 50% 50%;
}

ul li > label.bug344618_polyfill div span:last-child:active {
  border: solid 0.4rem #01c5ed;
}

ul li > label > span {
  display: block;
  text-decoration: none;
  outline: 0;
  color: #000;
  -moz-box-sizing: border-box;
  height: 6rem;
  font-size: 1.9rem;
  line-height: 6rem;
  padding: 0 2rem;
  margin: 0 -1.5rem;
}

/******************************************************************************
 * Select boxes
 */

ul li select {
  font-size: 1.9rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}

/* half-width select boxes */
ul li span select {
  display: inline-block;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  width: calc(50% - 2rem);
}

/* full-width select boxes */
ul li p + select {
  display: block;
  width: calc(100% - 15rem);
  margin: -1rem 3rem 1rem 12rem;
}

/******************************************************************************
 * Fake select boxes
 */
.fake-select {
  position: relative;
  display: block;
  padding: 1.1rem 3rem;
  margin: 0;
  height: 3.8rem;
}

.fake-select.small {
  display: inline-block;
  vertical-align: top;
}

.fake-select > button {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
}

.fake-select > select {
  position: absolute;
  top: 0;
  left: 3rem;
  width: calc(100% - 6rem);
  height: 3.8rem;
  border: none;
  background: red;
  opacity: 0;
}

/* */
section[role="region"] > ul > li > p + .fake-select {
  padding-top: 0;
  margin-top: -0.8rem;
}



/******************************************************************************
 * Select boxes
 */
.button.icon-dialog select {
  border: none;
  background: transparent;
  font-size: 1.7rem;
}

/* half-width select boxes */
html[dir="rtl"] ul li span select {
  left: 3rem;
  right: inherit;
}

/* full-width select boxes */
html[dir="rtl"] ul li p + select {
  margin: -1rem 12rem 1rem 3rem;
}
/******************************************************************************
 * Progress, Meter
 */

ul li progress, ul li meter {
  display: block;
  width: calc(100% - 6rem);
  height: 3rem;
  margin: 2.5rem auto;
}


/******************************************************************************
 * Definition lists
 */

dl > * {
  font-size: 1.7em;
}

dl dt {
  padding-left: 3rem;
  font-weight: 500;
  border-bottom: 0.1rem solid black;
}

dl dd {
  margin: 0;
  padding: 1rem 3rem;
  border-bottom: 0.1rem solid #e6e6e3; /* same as "ul li" */
}


/******************************************************************************
 * Right-to-Left layout
 */

/* definition lists */
html[dir="rtl"] dl dt {
  padding-left: inherit;
  padding-right: 3rem;
}

/* half-width select boxes */
html[dir="rtl"] ul li span select {
  left: 3rem;
  right: inherit;
}

/* full-width select boxes */
html[dir="rtl"] ul li p + select {
  margin: -1rem 12rem 1rem 3rem;
}

/* boolean inputs */

html[dir="rtl"] ul li button,
html[dir="rtl"] ul li a[role="button"] {
  left: inherit;
  right: 3rem;
}

html[dir="rtl"] ul li > label:not([for]) > span,
html[dir="rtl"] ul li > label:not([for]) > input[data-type="switch"] + span {
  left: 6rem; /* XXX we use "right: 3rem" for LTR layouts... */
  right: inherit;
}

html[dir="rtl"] ul li > label:not([for]) ~ a {
  padding-left: 6rem;
  padding-right: 3rem;
}

/* description + value on the same line */
html[dir="rtl"] ul li > a span {
  left: 3rem;
  right: inherit;
}

/* main list items */
html[dir="rtl"] ul li > a,
html[dir="rtl"] ul li > span {
  padding-left: inherit;
  padding-right: 3rem;
}
/*==================div=============================*/
.wifiAvailableNetWorks {
    position: absolute;
    left: 50%;
    right: 3rem;
    top: 45%;
    padding-top: 0.4rem;
    font-size: 1.4rem;
    color: #505859;
    pointer-events: none;
}

ul li > small:not(:empty) + a {
    line-height: 4.4rem;
}

.explanation {
    padding: 0.5rem 3rem;
    font-style: italic;
    font-size: 1.4rem;
    color: #505859;
}
input {
  font-size: 1.9rem;
  /*position: absolute;*/
  height: 2.9rem;
}

