
button,
.button {
  font-size: var(--font-p-pri);
}
li .button.icon-dialog {
  margin: 0;
  padding: 0;
  height: auto;
}
li .button.icon-dialog,
li .button.icon select {
  color: #5f5f5f;
  line-height: normal;
  background: none;
  border: none;
  width: 100%;
  min-height: 0;
  font-size: var(--font-p-sec);
  font-style: normal;
  text-shadow: none;
}
li.focus .button.icon select {
  color: white;
}
li .button.icon-dialog::before {
  border: none !important;
}
li .button.icon select {
  position: initial;
  height: 2.5rem;
}
li button, li .bb-button, li .button {
  padding: 1rem;
}
