html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Open Sans";
  background: var(--color-gs00);
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  color: #fff;
}
* {
  -moz-user-select: none;
}
input[type="text"],
textarea,
[contenteditable="true"] {
  -moz-user-select: text;
}
#icon {
  width: 4.6rem;
}
li.description p{
  font-size: var(--font-p-pri);
  color: var(--color-gs90);
}
#enable-bluetooth-view.current {
  display: flex;
  flex-flow: column wrap;
  height: var(--client-height);
}
#enable-bluetooth-view h2 {
  padding: 1rem;
  margin: auto;
  text-align: center;
}
#unable-pair-view h1, #enable-bluetooth-view h2, #error-pair-desc {
  font-size: var(--font-p-pri);
  color: var(--color-gs90);
  overflow: hidden;
}
