.appWindow:not(.bar) > .chrome {
  pointer-events: none;
  top: 0;
  height: calc(var(--statusbar-height) + var(--rocketbar-urlbar-height));
  transform: scaleY(var(--rocketbar-scale)) translateY(calc(var(--statusbar-height) * -1));
  transform-origin: top left;
  transition: transform 0.2s ease-in-out, background-color 0.5s ease;

  background-color: transparent;
  color: white;
}

:not(.browser).appWindow[data-shrinking-state="true"] > .chrome {
  height: calc(var(--statusbar-height) / var(--rocketbar-scale));
  transform: scaleY(var(--rocketbar-scale)) translateY(0);
}

.appWindow.light > .chrome {
  background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  background-color: white;
  color: #4d4d4d;
}

.appWindow.private > .chrome {
  background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  background-color: #392e54;
  color: #fff;
}

.appWindow:not(.bar) > .chrome.maximized {
  transform: scaleY(1) translateY(0);
}

.appWindow.fullscreen-app:not(.bar) > .chrome:not(.maximized) {
  height: var(--statusbar-height);
  top: 0;
}

.appWindow:not(.bar).fullscreen-app > .chrome.maximized {
  top: 0;
  transform: scaleY(1) translateY(-7.6rem);
}

.controls {
  pointer-events: auto;
  position: absolute;
  bottom: 0rem;
  width: 100%;
  height: var(--rocketbar-urlbar-height);
  font-size: 0;
}

.maximized .controls {
  background-color: var(--color-gs20);
}

.chrome .controls .windows-button {
  display: none;
  width: 0;
  min-width: 0;
}

/* Special cases */
.searchWindow > .chrome {
  display: none;
}

[data-manifest-name="FTU"]:not(.bar) > .chrome .controls,
[data-manifest-name="FTU"]:not(.bar) > .chrome .progress,
.lockScreenWindow:not(.bar) > .chrome .controls,
.lockScreenWindow:not(.bar) > .chrome gaia-progress,
.homescreen:not(.bar) > .chrome .controls,
.homescreen:not(.bar) > .chrome gaia-progress,
.globalOverlayWindow:not(.bar) > .chrome .controls,
.globalOverlayWindow:not(.bar) > .chrome gaia-progress {
  visibility: hidden;
}

.lockScreenWindow:not(.bar) > .chrome,
.globalOverlayWindow:not(.bar) > .chrome {
  background-color: transparent;
}

.homescreen:not(.bar) > .chrome {
  background-image: none;
}

#screen.attention .lockScreenWindow:not(.bar) > .chrome {
  background-color: black;
}

/* Special cases for Rocketbar in apps with browser chrome */
.appWindow:not(.browser) .chrome .controls .menu-button {
  display: none;
}

/* Special cases for rocketbar on the Top Sites view */
.search-app .menu-button,
.search-app .controls .reload-button,
.search-app .controls .stop-button
.chrome .controls .windows-button {
  display: none;
}

.search-app .chrome .controls .windows-button {
  display: none;
}

/* URL bar */
.chrome .controls .urlbar {
  border-radius: 0.2rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: var(--color-gs45);
  color: inherit;
  overflow: hidden;
  background-color: var(--color-gs00);
  visibility: hidden;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.appWindow.browser .chrome .controls .urlbar {
  border: none;
  background-color: var(--color-gs20);
  margin-left: 0;
  margin-right: 0;
}

.maximized .controls .urlbar {
  visibility: visible;
}

.chrome .controls .urlbar .focused {
  background-color: var(--highlight-color);
}

.collapsible .chrome .controls button:not([disabled]) + button[disabled] + .urlbar,
.collapsible .chrome .controls button:not([disabled]) + .urlbar {
  -moz-margin-start: 0;
}

.chrome-combined .chrome-title-container {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: padding-box;
  overflow: hidden;
  float: none;
  background-color: rgba(204,204,204,0.2);
  border-radius: 1.8rem;
  display: flex;
}

.appWindow.browser .chrome-combined .chrome-title-container {
  border-radius: 0;
}

.chrome-combined .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(50, 50, 50, 0.5);
}

.chrome-combined .title.hasTitle {
  color: var(--color-gs90);
}

.appWindow.browser .chrome-combined .title.hasTitle {
  color: var(--color-gs100);
}

.chrome-plain .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.appWindow.light .chrome-combined:not(.maximized) .chrome-title-container {
  background-color: rgba(204,204,204,0.4);
}

.chrome-combined.maximized .chrome-title-container {
  background-color: transparent;
}


.controls .forward-button:not([disabled]) + .urlbar {
  width: calc(100% - 8rem);
}

.controls .back-button:not([disabled]) + .forward-button[disabled] + .urlbar {
  width: calc(100% - 8rem);
}

.controls .back-button:not([disabled]) + .forward-button:not([disabled]) + .urlbar {
  width: calc(100% - 12rem);
}

.appWindow:not(.browser) .controls .forward-button:not([disabled]) + .urlbar {
  width: calc(100% - 0.5rem);
}

.appWindow:not(.browser) .controls .back-button:not([disabled]) + .forward-button[disabled] + .urlbar {
  width: calc(100% - 0.5rem);
}

.appWindow:not(.browser) .controls .back-button:not([disabled]) + .forward-button:not([disabled]) + .urlbar {
  width: calc(100% - 8.5rem);
}

.appWindow.fullscreen-app .chrome.dragged,
.appWindow.fullscreen-app .chrome.dragging {
  visibility: visible;
}

/* Private browser icon in rocketbar */
.appWindow.private > .chrome-plain.maximized .chrome-title-container,
.appWindow.private > .chrome-combined.maximized .chrome-title-container {
  -moz-padding-start: 4rem;
}

.appWindow.private > .chrome.maximized .pb-icon {
  display: block;
  width: 4rem;
  height: 100%;
  position: absolute;
  top: 0.1rem;
  left: 0.3rem;
  right: 0.3rem;
  background: url("images/pb_rocketbar.png") no-repeat 0.8rem center / 2.5rem;
}

.private > .chrome-combined.maximized .chrome-has-ssl-indicator .chrome-ssl-indicator {
  -moz-padding-start: 6.5rem;
  background-position: 3.7rem 0.1rem;
}

.chrome-plain .chrome-ssl-indicator {
  display: none;

  width: 1rem;

  background: no-repeat center / 3rem content-box;
}

.chrome-ssl-indicator-ltr {
  padding-right: .5rem; /* give some space between the indicator and the title */
}

.chrome-ssl-indicator-rtl {
  padding-left: .5rem; /* give some space between the indicator and the title */
  padding-right: 1rem; /* give some space between the indicator and the window's edge */
}

.chrome-plain:-moz-dir(ltr) .chrome-has-ssl-indicator .chrome-ssl-indicator-ltr,
.chrome-plain:-moz-dir(rtl) .chrome-has-ssl-indicator .chrome-ssl-indicator-rtl {
  display: unset;
}

.chrome-ssl-indicator [data-icon].hide {
  visibility: none;
}

.maximized .chrome-has-ssl-indicator[data-ssl="secure"] .chrome-ssl-indicator [data-icon] {
  font-size: 1.6rem;
  visibility: visible;
  color: var(--color-gs90);
}

.appWindow.browser .maximized .chrome-has-ssl-indicator[data-ssl="secure"] .chrome-ssl-indicator [data-icon] {
  color: var(--color-gs70);
}

.maximized .chrome-has-ssl-indicator[data-ssl="broken"] .chrome-ssl-indicator {
  font-size: 1.5rem;
  visibility: visible;
  color: var(--color-gs90);
}


/* Buttons */
.controls button  {
  -moz-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  min-width: 4rem;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  opacity: 1;
  float: left;
  border-radius: 0;
}

/* Remove focus outline from button */
.controls button::-moz-focus-inner {
  border: 0;
}

.controls .reload-button,
.controls .stop-button {
  background-size: 3rem auto;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0.3rem;
  right: 0;
  padding: 0 0.3rem;
  width: 3rem;
  height: 3rem;
}

.controls .reload-button::before,
.controls .stop-button::before {
  content: '';
  position: relative;
  right: 0.2rem;
  display: block;
  height: 2.4rem;
  border-left: .1rem solid rgba(0,0,0,0.05);
}

/* Vertically align butons outside of urlbar. */
.controls > button {
  position: relative;
  top: -0.2rem;
}

.controls .reload-button[disabled],
.loading .controls .reload-button {
  visibility: hidden;
  pointer-events: none;
}

.controls .stop-button {
  visibility: hidden;
  pointer-events: none;
}

.loading .controls .stop-button {
  visibility: visible;
  pointer-events: auto;
}

.controls .back-button[disabled],
.controls .forward-button[disabled] {
  display: none;
}

.chrome.maximized .controls .menu-button[disabled] {
  opacity: 0.2;
}

/* Default (dark) theme button styles */
.controls .back-button {
  background-image: url("images/dark/back.png");
}

.controls .back-button:active {
  background-image: url("images/dark/back_active.png");
}

.controls .forward-button {
  background-image: url("images/dark/forward.png");
}

.controls .forward-button:active {
  background-image: url("images/dark/forward_active.png");
}

.controls .menu-button {
  background-image: url("images/dark/options.png");
}

.controls .menu-button:active {
  background-image: url("images/dark/options_active.png");
}

.controls .reload-button {
  background-image: url("images/dark/reload.png");
}

.controls .reload-button:active {
  background-image: url("images/dark/reload_active.png");
}

.controls .stop-button {
  background-image: url("images/dark/stop.png");
}

.controls .stop-button:active {
  background-image: url("images/dark/stop_active.png");
}

.controls .windows-button {
  background-image: url('images/dark/windows.png');
}

.controls .windows-button:active {
  background-image: url('images/dark/windows_active.png');
}

/* Light theme button styles */
.light .controls .menu-button:active {
  background-image: url("images/light/overflow_active.png");
}

.light .controls .back-button {
  background-image: url("images/light/back.png");
}

.light .controls .back-button:active {
  background-image: url("images/light/back_active.png");
}

.light .controls .forward-button {
  background-image: url("images/light/forward.png");
}

.light .controls .forward-button:active {
  background-image: url("images/light/forward_active.png");
}

.light .controls .menu-button {
  background-image: url("images/light/options.png");
}

.light .controls .menu-button:active {
  background-image: url("images/light/options_active.png");
}

.light .controls .reload-button {
  background-image: url("images/light/reload.png");
}

.light .controls .reload-button:active {
  background-image: url("images/light/reload_active.png");
}

.light .controls .stop-button {
  background-image: url("images/light/stop.png");
}

.light .controls .stop-button:active {
  background-image: url("images/light/stop_active.png");
}

.light .controls .windows-button {
  background-image: url('images/light/windows.png');
}

.light .controls .windows-button:active {
  background-image: url('images/light/windows_active.png');
}

.light .controls .menu-button:active {
  background-image: url("images/light/overflow_active.png");
}

/* Overflow menu */

gaia-overflow-menu button#new-window {
  background-image: url("images/menu_new_window.png");
}

gaia-overflow-menu button#add-to-home {
  background-image: url("images/menu_add_to_homescreen.png");
}

gaia-overflow-menu button#share {
  background-image: url("images/menu_share.png");
}

/* Progress */
.appWindow:not(.bar).collapsible > .chrome gaia-progress {
  top: calc(var(--statusbar-height) + var(--rocketbar-urlbar-height));
}

/* App specifics */
.appWindow:not(.collapsible) > .chrome:not(.maximized) .controls button {
  display: none;
}

.appWindow:not(.collapsible) > .chrome:not(.maximized) .controls .forward-button:not([disabled]) + .urlbar,
.appWindow:not(.collapsible) > .chrome:not(.maximized) .controls .back-button:not([disabled]) + .forward-button[disabled] + .urlbar,
.appWindow:not(.collapsible) > .chrome:not(.maximized) .controls .back-button:not([disabled]) + .forward-button:not([disabled]) + .urlbar,
.appWindow:not(.collapsible) > .chrome:not(.maximized) .controls .urlbar {
  width: calc(100% - 8rem);
}

.appWindow:not(.collapsible) > .chrome-combined .title {
  width: calc(100%);
}

/* RTL View */
html[dir="rtl"] .appWindow:not(.bar) > .chrome {
  transform-origin: top right;
}

html[dir="rtl"] .search-app .chrome.maximized .controls .urlbar:after {
  left: 0.8rem;
  right: unset;
}

html[dir="rtl"] .controls .urlbar {
  transform-origin: top right;
}

html[dir="rtl"] .appWindow.fullscreen-app .chrome:not(.maximized) .controls .urlbar {
  transform-origin: bottom right;
}

html[dir="rtl"] .controls button {
  float: right;
}

html[dir="rtl"] .controls .reload-button,
html[dir="rtl"] .controls .stop-button {
  left: 0;
  right: unset;
}

html[dir="rtl"] .controls .reload-button::before,
html[dir="rtl"] .controls .stop-button::before {
  left: 0.2rem;
  right: unset;
  border-left: none;
  border-right: .1rem solid rgba(0,0,0,0.05);
}

html[dir="rtl"] .controls .back-button {
  background-image: url("images/dark/forward.png");
}

html[dir="rtl"] .controls .back-button:active {
  background-image: url("images/dark/forward_active.png");
}

html[dir="rtl"] .controls .forward-button {
  background-image: url("images/dark/back.png");
}

html[dir="rtl"] .controls .forward-button:active {
  background-image: url("images/dark/back_active.png");
}

html[dir="rtl"] .light .controls .back-button {
  background-image: url("images/light/forward.png");
}

html[dir="rtl"] .light .controls .back-button:active {
  background-image: url("images/light/forward_active.png");
}

html[dir="rtl"] .light .controls .forward-button {
  background-image: url("images/light/back.png");
}

html[dir="rtl"] .light .controls .forward-button:active {
  background-image: url("images/light/back_active.png");
}

html[dir="rtl"] .chrome-combined.maximized .chrome-has-ssl-indicator .chrome-ssl-indicator {
  background-position: right 0.1rem top 0.1rem;
}

html[dir="rtl"] .private > .chrome-combined.maximized .chrome-has-ssl-indicator .chrome-ssl-indicator {
  background-position: right 3.7rem top 0.1rem;
}

/*
 * This is for translating the minimized titlebar 12rem to the right,
 * which is what we need. And it's the direct opposite of -12rem in the
 * original selector which moves it 12rem to the left.
 */

html[dir="rtl"] .collapsible .chrome:not(.maximized) .back-button:not([disabled]) + .forward-button:not([disabled]) + .urlbar {
  transform: scaleX(var(--rocketbar-scale)) translateX(12rem);
}

html[dir="rtl"] .collapsible .chrome:not(.maximized) .back-button:not([disabled]) + .forward-button[disabled] + .urlbar,
html[dir="rtl"] .collapsible .chrome:not(.maximized) .forward-button:not([disabled]) + .urlbar {
  transform: scaleX(var(--rocketbar-scale)) translateX(5.5rem);
}
