<element name="call-barring-passcode" extends="section">
  <template>
    <gaia-header data-href="#call-cbSettings">
      <h1 data-l10n-id="callBarring-passcode-enter"></h1>
    </gaia-header>

    <div class="passcode-container">
      <div class="passcode">
        <span class="passcode-digit"></span>
        <span class="passcode-digit"></span>
        <span class="passcode-digit"></span>
        <span class="passcode-digit"></span>
      </div>
      <label id="cb-passcode-def" data-l10n-id="callBarring-passcode-unknown"></label>
    </div>

    <panel data-path="panels/call_barring_passcode/panel"></panel>

  </template>
</element>
