#phone-verification > div {
  padding: 0.5rem 1rem 0;
}

#phone-verification-setup-list > li {
  margin: 0.5rem 0;
  height: 3.2rem;
  text-align: center;
  background-color: var(--color-gs20);
  overflow: hidden;
}

#phone-verification-setup-list > li > div {
  text-align: center;
  line-height: 3.2rem;
  color: var(--color-gs90);
}

#phone-verification-setup-list > li.focus > div {
  color: var(--color-gs00) !important;
}

.phone-verification-info {
  color: var(--color-gs90);
  word-wrap: break-word;
  line-height: 2.2rem;
  height: calc(100% - 1rem);
}

#enter-phone-number-message,
#time-remaining {
  margin-top: 1rem;
}

.phone-verification-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.center-image {
  height: 9.6rem;
  width: 9.6rem;
  margin: 2rem 0;
}

.large-text .header-info {
  font-size: 2.7rem;
}

.header-info {
  color: var(--color-gs90);
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}
